.config/nvim/lua/current-theme.lua
.config/yazi/flavors/tokyo-night.yazi
.config/yazi/theme.toml
.config/yazi/package.toml
.config/OhMyPosh/Themes/currentTheme.toml
.config/OhMyPosh/Themes/themes/theme.txt
.config/OhMyPosh/Themes/themes.txt
.config/yazi/package.toml
.config/wezterm/lua/colorScheme.lua
.themes/nord/nvim/current-theme.lua
.themes/nord/ohmyposh/theme.txt
.themes/nord/wezterm/colorScheme.lua
.config/wezterm/lua/colorScheme.lua
.config/yazi/flavors/rose-pine.yazi
